<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--bootstrap styles-->
    <link href="../../common/css/bootstrap.min.css" rel="stylesheet" />

    <!--fontawsome styles-->
    <link href="../../common/css/fontawsome.min.css" rel="stylesheet" />
    <!--nav style-->
    <link href="../../common/css/nav.css" rel="stylesheet" />
    <!--styles-->
    <link href="skills_style.css" rel="stylesheet" />

    <title>Skills</title>
  </head>
  <body>
    <header include-html="../../common/views/navbar.html">
      <!--nav start-->

      <!--nav end-->
    </header>

    <!--expertise strat-->
    <section class="expertise my-4">
      <div class="container">
        <h3
          class="
            title
            text-center
            py-2
            mb-4
            top-left
            bottom-left
            top-right
            bottom-right
          "
        >
          Areas of Expertise
        </h3>
        <div class="row">
          <div class="col-4">
            <h5>Urban Planning</h5>
          </div>
          <div class="col">
            <p>Urban Planning, Spatial Data Analysis, Geodatabase Management</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4"><h5>Research</h5></div>
          <div class="col">
            <p>Research and Case Story Preparation</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <h5>Project Monitoring</h5>
          </div>
          <div class="col">
            <p>Research and Case Story Preparation</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <h5>Project Monitoring</h5>
          </div>
          <div class="col">
            <p>Monitoring Evaluation Reporting and Documentation</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <h5>Locational Science</h5>
          </div>
          <div class="col">
            <p>Online-Offline Map Preparation</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <h5>Data Science</h5>
          </div>
          <div class="col">
            <p>Data Management, Analysis and Presentation</p>
          </div>
        </div>
      </div>
    </section>

    <!--software skills-->
    <div class="software">
      <div class="container">
        <div class="row my-4 secondary-title">
          <div class="col top-left bottom-left"><h5>Software Skills</h5></div>
          <div class="col"><h5>Professional Expertise</h5></div>
          <div class="col bottom-right top-right">
            <h5>Working Knowledge</h5>
          </div>
        </div>

        <div class="row softwares">
          <div class="col">GIS</div>
          <div class="col">ArcGIS10.X, ARCGIS PRO, QGIS</div>
          <div class="col"></div>
        </div>
        <div class="row softwares">
          <div class="col">WebGIS</div>
          <div class="col">GOOGLE MAPS API, ArcGIS Online, OSM</div>
          <div class="col"></div>
        </div>
        <div class="row softwares">
          <div class="col">Programming</div>
          <div class="col">R, Python</div>
          <div class="col"></div>
        </div>
        <div class="row softwares">
          <div class="col">Remote Sensing</div>
          <div class="col">ERDAS IMAGINE</div>
          <div class="col"></div>
        </div>
        <div class="row softwares">
          <div class="col">Statistical Analysis</div>
          <div class="col">SPSS, MS EXCEL, Google Sheet</div>
          <div class="col"></div>
        </div>
        <div class="row softwares">
          <div class="col">Online Survey Tool</div>
          <div class="col">KOBOTOOLBOX, ODK,</div>
          <div class="col"></div>
        </div>
        <div class="row softwares">
          <div class="col">General</div>
          <div class="col">ArcGIS10.X, ARCGIS PRO, QGIS</div>
          <div class="col"></div>
        </div>
        <div class="row softwares">
          <div class="col">GIS</div>
          <div class="col">MS Office, Google Tools</div>
          <div class="col"></div>
        </div>
        <div class="row softwares">
          <div class="col">Design & Editing</div>
          <div class="col">Adobe Illustrator, Indesign, Premier Pro</div>
          <div class="col"></div>
        </div>
      </div>
    </div>

    <!--language-->
    <div class="language">
      <div class="container">
        <h5>Language Proficiency</h5>
        <div class="row">
          <div class="col-4">
            <h6>Bangla</h6>
          </div>
          <div class="col">Native</div>
        </div>
        <div class="row">
          <div class="col-4">
            <h6>English</h6>
          </div>
          <div class="col">IELTS 7.0</div>
        </div>
        <div class="row">
          <div class="col-4">
            <h6>Turkish</h6>
          </div>
          <div class="col">Basic</div>
        </div>
        <div class="row">
          <div class="col-4">
            <h6>Arabic</h6>
          </div>
          <div class="col">Basic</div>
        </div>
      </div>
    </div>

    <!--bootstrap script-->
    <script src="../../common/scripts/bootstrap.bundle.min.js"></script>
    <!--fontawsome styles-->
    <script src="../../common/scripts/fontawsome.min.js"></script>
    <!--link navbar to the header-->
    <script src="../../common/scripts/utilities.js"></script>
   
  </body>
</html>
