.navbar-brand{
    margin: 0;
    padding: 0;
}

.navbar{
 
    text-align: center;
   
}

.navbar{
    background-color: #114E60!important;
}

.navbar-nav a{
    color: #F4EEE8!important;
}

/*
    secondary nav
    
    background-color: #F5CEBE;
    color: #114E60;
*/