.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar {
  text-align: center;
}

.navbar {
  background-color: #114e60 !important;
}

.navbar-nav a {
  color: #f4eee8 !important;
}

.underline {
  position: relative;
}

.underline::after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  border-bottom: 6px solid #f68c00;
  position: absolute;
}

/*
    secondary nav
    
    background-color: #F5CEBE;
    color: #114E60;
*/
