@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body{
    background-color: #EFEFEF;
    font-family: 'Spectral', serif;
    overflow-x: hidden;
}

.title{

    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.title > *{
    background-color:#0A1931;
    color: #EFEFEF;
    margin-right: .2em;
}

.top-left{
    border-top-left-radius: 8px;
}
.bottom-right{
    border-bottom-right-radius: 8px;
}