@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #F4EEE8;
    font-family: 'Spectral', serif !important;
    overflow-x: hidden;
}

.type,
.published-on{
    text-align: center;
}

.main-title{
    text-transform: uppercase;
    position: sticky;
    top: 0;
    font-size: 1.2em;
}
.row{
    font-size: 1.1em;
}



.main-title .col{
    background-color: #F5CEBE;
    color: black;
    padding: .5em 0 0 0;
    margin-right: .15em;
    font-weight: 600;
   
}

.top-left{
    border-top-left-radius: 8px;
}
.bottom-right{
    border-bottom-right-radius: 8px;
}