@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4eee8;
  font-family: "Spectral", serif;
  overflow-x: hidden;
}

.navbar {
  z-index: 10000;
}

/* .hero{
    background-image: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);
} */

.hero .container {
  padding: 0 8em !important;
  padding-top: 8em !important;
  padding-bottom: 5em !important;
}

.card {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  overflow: hidden;
  border: none;
}

.profile-container > * {
  flex-basis: 100%;
}

.profile-img-container {
  overflow: hidden;
}
.profile-img {
  transform: translate(-30%);
  width: 180%;
  height: 70vh;
  object-fit: cover;
}

.about-section {
}
.about-section .container {
  padding: 13em 10em;
}

.experience .container {
  padding: 5em 10em !important;
}

.company > * {
  flex: 1;
}

.education .container {
  padding: 5em 10em !important;
}

.skills .container-fluid {
  padding: 0;
  padding-bottom: 3em;
}

.skills .row {
  padding: 0em 10em;
}

.skills .row h5 {
  width: 90%;
  margin: auto;
}

.skills .header {
  margin-bottom: 2em !important;
}

.expertise .container {
  padding: 0 8em 2em 8em;
}

.contact .container {
  padding: 2em 8em;
}

.contact .container .form-container {
  gap: 10em;
}

input {
  display: block;
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
textarea {
  border-radius: 5px;
  border: none;
}
