@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;500;600&display=swap");

body {
  background-color: #f4eee8;
  font-family: "Spectral", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  z-index: 1000;
}

.header h1 {
  text-align: center;
}

.nav-section {
  width: 100%;
  margin: 0;
  position: sticky;
  top: 0px;
}

ul {
  padding-left: 0;
}

.nav-section .experience-title {
  width: 100%;
  top: 1em;
  position: sticky;
}

.nav-section .experience-title ul {
  background: #1a4b62;
  display: flex;
  font-size: 1.2em;
  font-weight: 600;
  list-style-type: none;
}

.nav-section .experience-title ul > * {
  border-right: 0.15em solid #f4eee8;
  text-align: center;
  flex-grow: 1;
  padding: 0.5em;
  color: #ff9100 !important;
}

.top-left {
  border-top-left-radius: 8px;
}
.bottom-right {
  border-bottom-right-radius: 8px;
}

.nav-section .experience-title ul a > * {
  flex: 1;
}
.nav-section .experience-title ul a:first-child {
  flex: 11;
}

.nav-section .experience-title ul a {
  text-decoration: none;
  color: #114e60;
  text-transform: uppercase;
}

.container {
  margin: 2em;
}

.experience-section .container {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.experience-section .container .works > * {
  flex-basis: 100%;
}

.experience-section .container .works {
  margin-left: -2em;
  margin-left: 0.5em;
  display: flex;
  gap: 1.5em;
  justify-content: space-around;
}
.experience-section .container .works > * {
  flex: 2;
}

.experience-section .container .works .organization {
  flex: 1.5;
  /* border: 1px solid red; */
}

.organization {
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.responsibilities ul {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
}

.nav-section .experience-title a:nth-child(2) {
  background: white;
}

.skills {
  display: none;
}
.knowledge {
  display: none;
}
.responsibilities {
  display: none;
}

.organization-logo {
  width: 250px;
  height: 100px;

  margin: auto;
}
.organization-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
