<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organization</title>

    <!--bootstrap css-->
    <link href="/common/css/bootstrap.min.css" rel="stylesheet" />
    <!--fontawsom css-->
    <link href="/common/css/fontawsome.min.css" rel="stylesheet" />
    <!--nav style-->
    <link href="/common/css/nav.css" rel="stylesheet" />
    <!--css-->
    <link href="organization_style.css" rel="stylesheet" />
  </head>

  <body>
  
    <header>
      <!--nav start-->

      <!--nav end-->
    </header>

    <main>
      <div class="container text-center">
        <div class="row title mt-4 position-sticky top-0">
          <div class="col py-2 top-left bottom-left">Name</div>
          <div class="col py-2">Type</div>
          <div class="col py-2">Position</div>
          <div class="col py-2">ID</div>
          <div class="col py-2 bottom-right top-right">Period</div>
        </div>
        <div class="row py-3 fs-5">
          <div class="col">Bangladesh Institute Of Planners</div>
          <div class="col">Professional</div>
          <div class="col">Member</div>
          <div class="col">M-1208</div>
          <div class="col">2016 – Ongoing</div>
        </div>

        <div class="row py-3 fs-5">
          <div class="col">Khulna University Planners’ Alumni</div>
          <div class="col">Professional</div>
          <div class="col">EC Member (Treasure)</div>
          <div class="col">120437</div>
          <div class="col">2017 - Ongoing</div>
        </div>

        <div class="row py-3 fs-5">
          <div class="col">Building Plan Approval Committee of BIP</div>
          <div class="col">Professional</div>
          <div class="col">Member</div>
          <div class="col">M-1208</div>
          <div class="col">2018 - Ongoing</div>
        </div>

        <div class="row py-3 fs-5">
          <div class="col">Building Plan Approval Committee of BIP</div>
          <div class="col">Professional</div>
          <div class="col">Member</div>
          <div class="col">M-1208</div>
          <div class="col">2018 - Ongoing</div>
        </div>

        <div class="row py-3 fs-5">
          <div class="col">Phulkuri Ashar</div>
          <div class="col">Volumtery, Social Welfare, Child Development</div>
          <div class="col">Agropothik Phulkuri (Pioneer Phulkuri)</div>
          <div class="col"></div>
          <div class="col">2007 - Ongoing</div>
        </div>

        <div class="row py-3 fs-5">
          <div class="col">Noiyaeek</div>
          <div class="col">University Debating Club</div>
          <div class="col">Former Joint Secretery</div>
          <div class="col"></div>
          <div class="col">2015 - 2016</div>
        </div>

        <div class="row py-3 fs-5">
          <div class="col">Omitrakkhor</div>
          <div class="col">University POetry Reciting Club</div>
          <div class="col">Former Joint Secretery</div>
          <div class="col"></div>
          <div class="col">2014 - 2015</div>
        </div>
      </div>
    </main>

    <!--bootstrap js-->
    <script src="/common/scripts/bootstrap.bundle.min.js"></script>
    <!--fontawsome js-->
    <script src="/common/scripts/fontawsome.min.js"></script>
    <!--js-->
    <script src="/common/scripts/organization.js"></script>
    <!--include navbar inside the header-->
    <script src="/common/scripts/navbar.js"></script>
  </body>
</html>
