@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;500;600&display=swap');



body{
    background-color: #EFEFEF;
    font-family: 'Spectral', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    background-color: #0A1931;
    color: #EFEFEF;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    
}

.navbar{
    z-index: 1000;
    width: 100%;
}

.intro-text{
    padding-top: 0!important;
}

.intro-text h1{
    text-align: center;
    text-transform: uppercase;
}

.top-left{
    border-top-left-radius: 8px;
}
.bottom-right{
    border-bottom-right-radius: 8px;
}

h5{
    margin-bottom: 0;
    padding: 8px 0;
}

.secondary-title .col{
    background-color:#0A1931;
    color: #EFEFEF;
    margin-right: .2em;
}
