@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;500&display=swap');



body{
    background-color: #EFEFEF;
    font-family: 'Spectral', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    padding: 0;
}


.content-name{
   
    list-style: none;
    font-size: 1.1em;

}
.content-name > *{
   
    text-align: center;
    background: #0A1931;
    color: #EFEFEF;
    padding: 8px 0;
    font-weight: bold;
    border-right: 1px solid white;
}

.col-2{
    font-size: 1.08em!important;
}









