<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Extra Curricular</title>

    <!--bootstrap styles-->
    <link href="../../common/css/bootstrap.min.css" rel="stylesheet" />
    <!--fontawsome styles-->
    <link href="../../common/css/fontawsome.min.css" rel="stylesheet" />
    <!--nav style-->
    <link href="../../common/css/nav.css" rel="stylesheet" />
    <!--styles-->
    <link href="extra_curr_style.css" rel="stylesheet" />
  </head>
  <body>
    <header include-html="../../common/views/navbar.html">
      <!--nav start-->
      <!--nav end-->
    </header>

    <main>
      <div class="container position-sticky top-0 my-4">
        <ul class="content-name row">
          <li class="title col-4 top-left bottom-left">Title</li>
          <li class="organization col-2">Organization</li>
          <li class="location col-2">Location</li>
          <li class="duration col-2">Duration</li>
          <li class="year col-2 bottom-right top-right">Year</li>
        </ul>
      </div>

      <div class="contents container text-center">
        <div class="row py-3">
          <div class="title col-4">
            <h4>Cultural Competition Award</h4>
            <p>Recitation, Extemphore Speech</p>
          </div>
          <div class="organization col-2">Khulna University</div>
          <div class="location col-2">Khulna</div>
          <div class="duration col-2"></div>
          <div class="year col-2">2012,13,14</div>
        </div>

        <div class="row py-3">
          <div class="title col-4">
            <h4>Colllege Sports Captain</h4>
            <p></p>
          </div>
          <div class="organization col-2">Milestone College</div>
          <div class="location col-2">Dhaka</div>
          <div class="duration col-2">1 year</div>
          <div class="year col-2">2010-11</div>
        </div>
        <div class="row py-3">
          <div class="title col-4">
            <h4>Pioneer Phulkuri</h4>
            <p>Highest Rank Holder of National Children Organization</p>
          </div>
          <div class="organization col-2">
            Phulkuri Ashar
          </div>
          <div class="location col-2">Bangladesh</div>
          <div class="duration col-2">7 years</div>
          <div class="year col-2">2007-14</div>
        </div>

        <div class="row py-3">
          <div class="title col-4">
            <h4>Best Debator Award</h4>
            <p>Inter Discipline Debate Competition</p>
          </div>
          <div class="organization col-2">Khulna University</div>
          <div class="location col-2">Khulna</div>
          <div class="duration col-2"></div>
          <div class="year col-2">2014</div>
        </div>

        <div class="row py-3">
          <div class="title col-4">
            <h4>Inter Discipline Quiz Competition Champion</h4>
            <p></p>
          </div>
          <div class="organization col-2">Rotarect CLub of Khulna University</div>
          <div class="location col-2">Khulna</div>
          <div class="duration col-2"></div>
          <div class="year col-2">2013</div>
        </div>
      </div>
    </main>

    <!--bootstrap  script-->
    <script src="../../common/scripts/bootstrap.bundle.min.js"></script>
    <!--fontawsome script-->
    <script src="../../common/scripts/fontawsome.min.js"></script>
    <!--include navbar inside the header-->
    <script src="../../common/scripts/utilities.js"></script>
  </body>
</html>
