/* @media only screen and (min-width:600px)
{
    .card{
        width: 18rem;
    }
} */
@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;500;600&display=swap");
body {
    background-color: #f4eee8;
    font-family: "Spectral", serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  h6{
    font-weight: 600;
    font-size: 1.1em;
  }
  
:root{
    --card-width: 18rem;
    --card-height: 20rem;
    --card-margin: 16px;
}
.card-container{
    padding-top: 5rem;
    width: 100% ;

    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    height: 100%;
}

.card{
    max-width: var(--card-width);
    margin: var(--card-margin);
}

.card img{
    margin: 0;
    padding: 0;
    height: 50px;
    width: 8rem;
}

.popup-window-container{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    
}

.content{
    background-color: white;
    padding: 2em;
    border-radius: 5px;
    max-width: 50em;
}

.show{
    opacity: 1;
    pointer-events: auto;
    z-index: 99999;
}



.accordion_container .accordion_item{
    position: relative;
    margin: 10px 20px;
    
}
.accordion_container .accordion_item .label{
    position: relative;
    background-color: rgba(217, 148, 21, 0.891);
    padding: 10px;
    color: white;
    cursor: pointer;

}

.accordion_container .accordion_item .label::before{
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.border{
    border-radius: 15px !important;
}

.accordion_container .accordion_item .accordion_content{
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
    overflow-y:  auto;
    padding: 0;
}

.accordion_container .accordion_item.active .accordion_content{
    height: 250px;
    padding: 10px;
}