@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;500;600;700&display=swap");

body {
  background-color: #f4eee8;
  font-family: "Spectral", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 90%;
  margin: auto;
}

.introduction {
}
.introduction .intro-text h1 {
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.title > * {
  background-color: #f68c00;
  color: #032d41;
  margin-right: 5px;
  text-transform: uppercase;
  padding-top: 15px !important;
  font-weight: 600;
}

h5 {
  font-weight: 600;
}

.title .col:last-child {
  border-right: none;
}

.top-left {
  border-top-left-radius: 8px;
}
.bottom-right {
  border-bottom-right-radius: 8px;
}

.content-header {
  display: flex;
  list-style: none;
  margin-top: 15px;
  font-size: 1.1em;
  font-weight: bold;
  background-color: chocolate;
  text-align: center;
  color: white;
}
.content-header > * {
  flex: 1;
  border-right: 1px solid #fff;
  padding: 0.5em 0;
}
.contents {
  display: flex;
  text-align: center;
}

.contents > * {
  flex: 1;
  padding: 1em;
  font-size: 18px;
}
