<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Participation</title>

    <!--bootstrap styles-->
    <link href="../../common/css/bootstrap.min.css" rel="stylesheet" />
    <!--fontawsome styles-->
    <link href="../../common/css/fontawsome.min.css" rel="stylesheet" />
    <!--nav style-->
    <link href="../../common/css/nav.css" rel="stylesheet" />
    <!--styles-->
    <link href="participation_style.css" rel="stylesheet" />
  </head>
  <body>
    <header include-html="../../common/views/navbar.html">
      <!--nav start-->
      <!--nav end-->
    </header>

    <main>
      <div class="container position-sticky top-0 my-4">
        <ul class="content-name row">
          <li class="title col-3 top-left bottom-left">Title</li>
          <li class="event-type col-2">Event Type</li>
          <li class="purpose col-2">Purpose</li>
          <li class="organization col-2">Organized By</li>
          <li class="location col-2 ">Location</li>
          <li class="date col-1 bottom-right top-right">Date</li>

        </ul>
      </div>

      <div class="contents container text-center">

        <div class="row py-3">
          <div class="title col-3">
            <h4>4th International Conference of Contemporary Affairs in Architecture & Urbanism</h4>
          </div>
          <div class="event-type col-2">Conference</div>
          <div class="purpose col-2">Participation</div>
          <div class="organization col-2">Alanya Hep University, Turkey</div>
          <div class="location col-2">Online</div>
          <div class="date col-1">2021</div>
        </div>

        <div class="row py-3">
          <div class="title col-3">
            <h4>Workshop on Network & 3D Spatial Analysis</h4>
          </div>
          <div class="event-type col-2">Workshop</div>
          <div class="purpose col-2">Participation</div>
          <div class="organization col-2">Super Map Software Co. Ltd</div>
          <div class="location col-2">Online</div>
          <div class="date col-1">2021</div>
        </div> 
      
         <div class="row py-3">
          <div class="title col-3">
            <h4>Webinar on GIS technologies envisioning urban planning</h4>
          </div>
          <div class="event-type col-2">Webinar</div>
          <div class="purpose col-2">Participation</div>
          <div class="organization col-2">Super Map Software Co. Ltd</div>
          <div class="location col-2">Online</div>
          <div class="date col-1">2021</div>
        </div> 
        

         <div class="row py-3">
          <div class="title col-3">
            <h4>GIS Software Technology Conference</h4>
          </div>
          <div class="event-type col-2">Conference</div>
          <div class="purpose col-2">Participation</div>
          <div class="organization col-2">Super Map Software Co. Ltd</div>
          <div class="location col-2">Online</div>
          <div class="date col-1">2020</div>
        </div> 

         <div class="row py-3">
          <div class="title col-3">
            <h4>What does the Global Pandemic COVID-19 Teach Us?</h4>
          </div>
          <div class="event-type col-2">Webinar</div>
          <div class="purpose col-2">Participation</div>
          <div class="organization col-2">Elsevier</div>
          <div class="location col-2">Online</div>
          <div class="date col-1">2020</div>
        </div> 


         <div class="row py-3">
          <div class="title col-3">
            <h4>Reflections of the Global Urban Leaders (Zoom Webinar)</h4>
          </div>
          <div class="event-type col-2">Symposium</div>
          <div class="purpose col-2">Research Paper Presentation</div>
          <div class="organization col-2">BRAC, BRAC University, Save the Children, C&A Foundation</div>
          <div class="location col-2">BRAC Centre, Dhaka</div>
          <div class="date col-1">2018</div>
        </div> 

         <div class="row py-3">
          <div class="title col-3">
            <h4>Youth Leadership Summit</h4>
          </div>
          <div class="event-type col-2">Summit</div>
          <div class="purpose col-2">Participation</div>
          <div class="organization col-2">Bangladesh Youth Leadership Center</div>
          <div class="location col-2">Bangabandhu International Conference Center</div>
          <div class="date col-1">2014</div>
        </div> 




      </div>
    </main>

    <!--bootstrap  script-->
    <script src="../../common/scripts/bootstrap.bundle.min.js"></script>
    <!--fontawsome script-->
    <script src="../../common/scripts/fontawsome.min.js"></script>
    <!--include navbar inside the header-->
    <script src="../../common/scripts/utilities.js"></script>
  </body>
</html>
