<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>

    <!--bootstrap styles-->
    <link href="../../common/css/bootstrap.min.css" rel="stylesheet">
    <!--fontawsome styles-->
    <link href="../../common/css/fontawsome.min.css" rel="stylesheet">
      <!--nav style-->
    <link href="../../common/css/nav.css" rel="stylesheet">
    <!--styles-->
    <link  href="style.css" rel="stylesheet">
</head>

<body>

    <header include-html="../../common/views/navbar.html">
        
    <!--nav start-->

    <!--nav end-->
    

    </header>

    <main>
        <div class="introduction py-4">
            <div class="intro-text container">
                <!-- <h5 class="text-center">Click degree title to view courses covered there</h5> -->
            </div>
        </div>

        <div class="academic">
            <div class="container">
                
                <div class="row title  mb-2  text-center">
                    <div class="col py-2 top-left bottom-left">
                        <h5>Degree</h5>
                    </div>
                    <div class="col py-2 ">
                        <h5>Concentration</h5>
                    </div>
                    <div class="col py-2 ">
                        <h5>Institute</h5>
                    </div>
                    <div class="col py-2 ">
                        <h5>Result</h5>
                    </div>
                    <div class="col py-2 top-right bottom-right">
                        <h5>PasS.Year</h5>
                    </div>
                </div>

                <div class="row py-4 text-center">
                    <div class="col">
                       <h6> MBA</h6>  
                    </div>
                    <div class="col">
                        Business Administration 
                    </div>
                    <div class="col my-style">
                        Quantic School of Business & Technology  
                    </div>
                    <div class="col">
                        Ongoing
                    </div>
                    <div class="col">
                        2023
                    </div>
                </div>
                
                <div class="row py-4 text-center">
                    <div class="col">
                       <h6> Master of Social Science (MSS)</h6>  
                    </div>
                    <div class="col">
                        International Relations  
                    </div>
                    <div class="col my-style">
                        University of Dhaka  
                    </div>
                    <div class="col">
                        Appeared
                    </div>
                    <div class="col">
                        2020
                    </div>
                </div>

                <div class="row py-4 text-center">
                    <div class="col">
                        <h6>Bachelor of Urban and Rural Planning</h6>  
                    </div>
                    <div class="col">
                        Geographic Information System, Transportation Planning, Urban Planning, Environmental Planning  
                    </div>
                    <div class="col">
                        Khulna University  
                    </div>
                    <div class="col">
                        First Class, CGPA - 3.28
                    </div>
                    <div class="col">
                        2016  
                    </div>
                </div>
                <div class="row py-4 text-center">
                    <div class="col">
                       <h6> Higher Secondary School Certificate  </h6>
                    </div>
                    <div class="col">
                        Science  Enginieering Technology Maths (STEM)
                    </div>
                    <div class="col">
                        Milestone College  
                    </div>
                    <div class="col">
                        First Division, Marks :4.6 
                    </div>
                    <div class="col">
                        2011  
                    </div>
                </div>
                <div class="row py-4 text-center">
                    <div class="col">
                       <h6> Secondary School Certificate 
                    </h6> 
                    </div>
                    <div class="col">
                        Science  Enginieering Technology Maths (STEM)
                    </div>
                    <div class="col">
                        Safiuddin Sarker Academy  
                    </div>
                    <div class="col">
                        First Division, Marks :5%  
                    </div>
                    <div class="col">
                        2009  
                    </div>
                </div>
                

            </div>
        </div>

        
    

    <!--bootstrap script-->
    <script src="../../common/scripts/bootstrap.bundle.min.js"></script>
    <!--fontawsome script-->
    <script src="../../common/scripts/fontawsome.min.js"></script>
    <!--default js-->
    <script src="education.js"></script>

    <!--link navbar to the header-->
    <script src="../../common/scripts/utilities.js"></script>
   
</body>
</html>