<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>

    <!--bootstrap style-->
    <link href="../../common/css/bootstrap.min.css" rel="stylesheet" />
    <!--fontawsome style-->
    <link href="../../common/css/fontawsome.min.css" rel="stylesheet" />
    <!--nav style-->
    <link href="../../common/css/nav.css" rel="stylesheet" />
    <!--style-->
    <link href="portfolio_style.css" rel="stylesheet" />
  </head>
  <body>
    <header include-html="../../common/views/navbar.html">    
    <!--nav start-->
    <!--nav end-->
    </header>

    <main>
      <div class="container my-4">
        <div class="row main-title text-center">
          <div class="col top-left bottom-left"><h5>Type</h5></div>
          <div class="col"><h5>Title</h5></div>
          <div class="col"><h5>Published On</h5></div>
          <div class="col bottom-right top-right"><h5>Published By</h5></div>
        </div>

        <div class="row py-3">
          <div class="col type">Research Article</div>
          <div class="col title">
            <a
              href="https://megaronjournal.com/tr/jvi.aspx?pdir=megaron&plng=tur&un=MEGARON-55632"
              >Children's Understanding and Aspirations on Built Environment: A
              Case Study on Khulna City of Bangladesh</a
            >
          </div>
          <div class="col published-on">2021</div>
          <div class="col published-by">
            Megaron Journal (YILDIZ TECHNICAL UNIVERSITY FACULTY OF ARCHITECTURE
            E-JOURNAL)
          </div>
        </div>
        <div class="row py-3">
          <div class="col type">Book</div>
          <div class="col title">
            <a
              href="http://www.cswashfund.org/sites/default/files/2018_ARC_Case%20Studies_CDI2WASH%20Program_0.pdf?fbclid=IwAR0HueDyWwL55zLplxALrdbHnk-gNmNw1ofGycU7xHr90LfPaQyIDO3831g"
              >Case Studies: CDI2WASH Program</a
            >
          </div>
          <div class="col published-on">2018</div>
          <div class="col published-by">
            Community Development Department, Bangladesh Red Crescent Societies
          </div>
        </div>
        <div class="row py-3">
          <div class="col type">Conference Paper</div>
          <div class="col title">
            <a
              href="https://repository.lboro.ac.uk/articles/conference_contribution/Practices_and_effects_of_menstrual_hygiene_management_in_rural_Bangladesh/9589331"
              >Practices and effects of menstrual hygiene management in rural
              Bangladesh</a
            >
          </div>
          <div class="col published-on">2017</div>
          <div class="col published-by">
            40th WEDC International Conference, Loughborough, UK,
          </div>
        </div>
        <div class="row py-3">
          <div class="col type">Postcard</div>
          <div class="col title">
            <a
              href="http://www.cswashfund.org/our-work/postcards-from-the-field/masuds-spirit-change/	http://www.cswashfund.org/our-work/postcards-from-the-field/masuds-spirit-change/"
              >Masud’s Spirit of Change</a
            >
            <a
              href="http://www.cswashfund.org/our-work/postcards-from-the-field/change-makers-bringing-new-hope/"
              >The Change Makers- Bringing New Hope</a
            >
            <a
              href="http://www.cswashfund.org/our-work/postcards-from-the-field/journey-despair-delight/"
              >A Journey from Despair to Delight</a
            >
            <a
              href="http://www.cswashfund.org/our-work/postcards-from-the-field/inclusive-wash-committees-many-impacts/"
              >Inclusive WASH Committees - Many Impacts</a
            >
            <a
              href="http://www.cswashfund.org/our-work/postcards-from-the-field/drinking-water-safely-addressing-arsenic-menace-bangladesh/"
              >Drinking water safely - addressing the arsenic menace in
              Bangladesh</a
            >
            <a
              href="http://www.cswashfund.org/our-work/postcards-from-the-field/championing-hygiene-schools-community/"
              >Championing Hygiene - from Schools to Community</a
            >
          </div>
          <div class="col published-on">2017</div>
          <div class="col published-by">
            Civil Society Water Sanitation & Hygiene Fund
          </div>
        </div>
        <div class="row py-3">
          <div class="col type">News Story</div>
          <div class="col title">
            <a
              href="https://www.ifrc.org/en/news-and-media/news-stories/asia-pacific/bangladesh/turning-knowledge-into-habits-in-rural-bangladesh-73838/"
              >Turning knowledge into habits in rural Bangladesh</a
            >
          </div>
          <div class="col published-on">2017</div>
          <div class="col published-by">IFRC Website</div>
        </div>
        <div class="row py-3">
          <div class="col type">News Story</div>
          <div class="col title">
            <a
              href="https://www.ifrc.org/en/news-and-media/news-stories/asia-pacific/bangladesh/bangladesh-increased-number-of-muslims-from-rakhine-deteriorates-humanitarian-situation-in-coxs-bazar-makeshift-camps-73883/"
              >Red Crescent provides relief for displaced communities in
              makeshift camps in Cox's Bazar as living conditions worsen</a
            >
          </div>
          <div class="col published-on">2017</div>
          <div class="col published-by">IFRC Website</div>
        </div>
      </div>
    </main>

    <!--bootstrap js-->
    <script src="../../common/scripts/bootstrap.bundle.min.js"></script>
    <!--fontawsome-->
    <script src="../../common/scripts/fontawsome.min.js"></script>
    <!--js-->
    <script src="portfolio.js"></script>

     <!--include navbar inside the header-->
     <script src="../../common/scripts/utilities.js"></script>
  </body>
</html>
